body {
    background-color: #001f33;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

button {
    background-color: #004466;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px 0 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #006699;
}
